*{
  margin:0; padding:0;
  box-sizing: border-box;
  outline: none; border:none;
  text-decoration: none;
  text-transform: capitalize;
  transition:all .2s linear;

}
html {
    font-size: 20px;
}

body {
    background-image: url("Untitled-3.png");
    background-color:#83928a ;
    background-size: auto;
    background-repeat: no-repeat;
}


/*
-----------------------------
           HEADER
-----------------------------
*/
header {
    position: fixed;
    top: -6rem;
    left: 0;
    right:0;
    box-shadow: 0.5rem 0.5rem 0.5rem 0 rgba(154, 163, 163, 0.3);
    z-index: 1000;
    padding: 0 1rem;
    background-color: #a2c1bf;
    animation: down 1s 3s forwards;
}
header ul {
    list-style-type: none;
    margin: 0.5rem auto;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

header ul .main-menu {
    display: flex;
    align-items: center;
    width: 70%;
    padding-left: 5%;
}
header ul .main-menu > li {
    width: calc((100%)/5);
}

header ul .main-menu li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 0.7rem 1.5rem;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}
.signin {
    width: 7%;
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 0.8rem;
    text-align: right;
}
.signin i {
    padding: 0.2rem;
} 
.signin:hover {
    color: #769695;
    font-weight: bolder;
}  

header ul .main-menu li a:hover{
    color: white;
    border-bottom: 0.15rem solid white;
    border-radius: 2.5rem;
    background-color: #f37e00;
}
header .logo{
    width: 23%;
    margin: 0;
    font-size: 1.5rem;
    font-weight: 500;
    color:rgb(255, 255, 255);
    text-decoration: none;
    color: #68635d;
    text-shadow: 0.05rem  0.05rem 0.1rem  rgb(131, 130, 130);
    font-family: 'Poppins', sans-serif;
    
  }
  
  header .logo i{
    text-shadow: none;
    color:#f37e00;
    font-size: 3rem;
    padding-left: 2.9rem;
    
    
  }
header .logo p {
    margin: 0;
}
a.register {
    border: 0.1rem solid white;
    border-radius: 2.5rem;
}
.logo p:hover {
    color: white;
}
.logo i:hover {
    color:#769695;
}
.icon {
    display: none;
}
@keyframes down {
    100% {top:0;}
}
/*
-----------------------------
        BOTTOM CONTENT
-----------------------------
*/
.parent {
    padding: 6rem 2rem 0;
    width: 85%;
    display: flex;
    justify-content: space-between;
    
}

.parent > div {
    width: calc(100% / 2);
}


.content {
  font-weight: bolder;
  font-size: 2rem;
  color: white;
  letter-spacing: 0.075rem;
  line-height: 1.6;
  margin-left: -60rem;
  animation: move 2s forwards;
}
.content h1 {
    text-shadow: 0.05rem  0.05rem 0.1rem  rgb(131, 130, 130);
    font-family: 'Lobster', cursive; 
    margin-top: 0.7rem;
    margin-bottom: 0;
}
.content p {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    margin-top: 0;
}
.image {
    margin-right: 0;
    animation: appear 1s 2s forwards;
    opacity: 0;
}
@keyframes appear {
    0%{opacity: 0;}
    25%{opacity: 0.25;}
    50%{opacity: 0.5;}
    75%{opacity: 0.75;}
    100%{opacity: 1;}
}
@keyframes move {
    100% {margin-left: 0;}

}

/*
-----------------------------
       BUTTON
-----------------------------
*/
.content a {
    display: inline-block;
    margin-top: 1rem;
    font-weight: 300;
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    padding: 0.7rem 0.8rem;
    text-decoration: none;
    border-radius: 2.5rem;
    color: white;
    border: 0.1rem solid white;
    margin-left: -14rem;
    animation: slide 1s 3s forwards;

}
.content a:hover {
    border: none;
    font-weight: 500;
    color: #e77b00;
    text-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.4)
}
@keyframes slide {
    100% {margin-left: 3rem;}
}
/*
-----------------------------
        SEARCH BAR
-----------------------------
*/
@media (max-width:1365px) {
    html {
        font-size: 18px;
    }
}
@media (max-width:1140px) {
    html {
        font-size: 15px;
    }
}
@media (max-width:991px) {
    html {
        font-size: 13px;  
    }
    header ul .main-menu {
        width: 100%;
        padding-left: 0;
    }

}
@media(max-width:768px){
    html{
      font-size: 14px;
    }
  header {
        box-shadow: 0.6rem 0.6rem 0.5rem 0 rgba(154, 163, 163, 0.8);
    }
    ul {
        position: relative;
    }
    header ul .main-menu > li {
        width: 100%;
        padding-right: 1rem;
    

        
    }
    header ul .main-menu{
        overflow: hidden;
        margin-top: 4rem;
        width:100%;
        flex-wrap: wrap;
        display: none;
        position: absolute;
        background-color: #a3c2c0d2;
        box-shadow: 0.5rem 0.5rem 0.5rem 0 rgba(255, 115, 0, 0.158);
        border-radius: 2.5rem;
    }
    header ul .main-menu li a{
        width: 100%;
        display: block;
        font-size: 2rem;
        
    }
    a.register {
        border:none;
    }
    .register i {
        display: none;
    }
    a.icon {
        font-size: 3rem;
        color: white;
        display: block;
        position: absolute;
        text-decoration: none;
        top: 0;
        right: 10rem;
        border-radius:1rem;
      }
      a.icon:hover {
        padding: 0.3rem 0.7rem;
        background-color: rgb(120 173 173);
        color:#ff8e0d;
      }
      header .logo {
          width: 100%;
          font-size: 2rem;
          height: 10%;
      }
      .logo i{
          display: inline-block;
          padding-right: 1rem;
      }
      .logo p{
          display: inline-block;
          padding-right: 3rem;
      }
      .signin {
          width: 20%;
          font-size: 1.5rem;
          position: absolute;
          right: 1rem;
      }
      .parent {
          width: 100%;
          flex-wrap: wrap;
          /* justify-content: center;
          align-items: center; */
      }
      .parent > div {
          width: 100%;
          padding-bottom: 1rem;
          
      }
      .content a {
          margin-left: -27rem;
          font-size: 2rem;
      }
      .content {
         font-size: 2.5rem;
      }
body {
    background-image: url("Untitled-4.png");
}
}
@media(max-width:450px){
  
    html{
      font-size: 10px;
    }
    body {
        background-image: url("Untitled-5.png");
    }
  }
@media(max-width:300px)
  {
    html{
        font-size: 2px;
      } 
  }
